*{
	overflow-x: hidden;
	font-family: "Roboto", "Trebuchet MS";
	margin: 0;
	padding: 0;
	color: #505050;
	scroll-behavior: smooth;
}

/*-------------------------NAVIGATION BAR-----------------------------*/

header{
	
	-moz-box-shadow:    0px 0px 12px 0px #999;
  	-webkit-box-shadow: 0px 0px 12px 0px #999;
  	box-shadow:         0px 0px 12px 0px #999;
}
nav{
	background: #fff; 
	font-weight: bold;
	z-index: 99;
}
.nav-item{
	font-weight: lighter;
	font-size: 14px;
}
nav ul a{
	font-weight: lighter;
	padding-right: 40px!important;
	color: #000!important;
	font-size: 120%;
}
.cur-nav{
	color: #fc4a1a!important;
	font-weight: bold;
}
nav ul a:hover{
	color: #fc4a1a!important; 
}
@media only screen and (min-width: 992px){
	nav{
		height: 80px;
	}
}

/*--------------top header---------------*/

.top-header{
	height: auto;
	padding: 20px 0;
	margin-top: -12px;
	
}
.header-line{
	margin: 120px 0;
	padding: 80px;
	position: relative;
	font-weight: 500;
	top: 40%;
	text-align: left; 
	transform: translateY(-60%);
	color: #fff;
	font-size: 20px;
}


.header-line button{
	padding: 10px 45px;
	border: solid 1px;
	border-radius: 40px; 
	font-size: 19px;
	margin: 20px 0;
	filter: drop-shadow( 6px 8px 4px rgba(0,0,0,0.161));
	outline: none;
}
.header-line button:hover{
	color: #fc4a1a;
	border: 0px solid #fc4a1a;
	filter: drop-shadow( 4px 8px 12px rgba(0,0,0,0.161));
}

/*----------------Hero Image and text-----------------------*/

main{
	margin-top: -5px;
	-moz-box-shadow:    0px 0px 12px 0px #999;
  	-webkit-box-shadow: 0px 0px 12px 0px #999;
  	box-shadow:         0px 0px 12px 0px #999;
}


/*----------------GRAPHIC SERVICES SECTION-------------------*/

/* Style card shadow and border radius */
.graphic {
  filter: drop-shadow( 4px 8px 6px rgba(0,0,0,0.1));
   border-radius: 20px;

}
/* Float two columns side by side */
.columng {
  float: left;
  width: 50%;
  padding: 70px 50px;

}

/* Remove extra left and right margins, due to padding in columns */
.rowg {
	margin: 70px 500px;
	padding: 100px;
}

/* Clear floats after the columns */
.rowg:after {
  content: "";
  display: table;
  clear: both;
}
.whyushead{
	margin: 120px 0;text-align: center; font-weight: 1000;
}
.exploremarkethead{
	margin: 90px 0 120px 0;text-align: center;font-weight: 1000;
}
@media only screen and (max-width: 600px){
	.exploremarkethead{
		margin-bottom: 60px;
	}
	.whyushead{
		margin-bottom: 60px;
	}
	.header-line{
		margin: 60px 0px;
		padding-bottom: 0px;
	}
}
/*------------Get you service section--------------*/

.containerget {
    display: inline-block;
}

.containerget span {
    height: 40px; 
    display: table-cell;
    vertical-align: middle;
}
.cardget1{
	margin: 50px 2% 100px 12%; padding: 80px 30px; background: #fefefe; border-radius: 10px; width:36%;filter: drop-shadow( 4px 6px 6px rgba(0,0,0,0.1));
}
.cardget2{
	margin: 50px 12% 100px 2%; padding: 80px 30px; background: #fefefe; border-radius: 10px; width:36%;filter: drop-shadow( 4px 6px 6px rgba(0,0,0,0.1));
}
@media only screen and (max-width: 968px){
	.cardget{
		padding: 40px 25px;
	}
}

.cardget:hover{
	
	/*border: 1px solid ;*/
	filter: drop-shadow( 4px 8px 12px rgba(0,0,0,0.161));
}
.graphic:hover{
	
	/*border: 1px solid ;*/
	filter: drop-shadow( 3px 3px 4px rgba(0,0,0,0.07));
}
.aboutushead{
	text-align: center;font-weight: 1000;margin-top: 30px;
}
.abouttext{
	padding: 10% ; font-size: 21px; letter-spacing: 2px;line-height: 50px;margin-top:10%
}
@media only screen and (max-width: 660px){
	.roggg{
		display: block;
	}
	.cardget1{
		margin: 50px 35px 10px 35px;
		width:auto;
	}
	.cardget2{
		margin:30px 35px 100px 35px;
		width:auto;
	}
	.aboutushead{
		margin-top: 50px;
	}
	.abouttext{
		margin-top:10px;
	}
}


/*----------------FOOTER-------------------*/
.footerlinks{
	text-decoration: none;
	color: #505050;
}

@media only screen and (min-width: 600px){
.footeredit{
	margin-top: 5%;
	padding-left: 5%;
}
}

.vl {
  border-left: 6px bold #505050;
  padding-left: 50px;
  margin-top: -35px;
 
}
