*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

/*-------------------------NAVIGATION BAR-----------------------------*/

header{
	
	-moz-box-shadow:    0px 0px 12px 0px #999;
  	-webkit-box-shadow: 0px 0px 12px 0px #999;
  	box-shadow:         0px 0px 12px 0px #999;
}
nav{
	background: #fff; 
	font-weight: bold;
	z-index: 99;
	height:80px;
	width: 100vw;
}
/*--------------------------------------------------*/
.mainbody{
	

}
.wave{
	position: fixed;
	bottom: 3%;
	height: 80%;
	z-index: -1;
	right:7%;
}

.container1{
    width: 88%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap : 7rem;
    padding: 0px 7%;
    margin: 0px 6%;
    background-color: rgba(73, 188, 173, .03);
}

.img{
	display: flex;
	/*justify-content: flex-end;*/
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	margin-left: 5%;
}
@media only screen and (max-width:410px){
	.login-content{
		margin-left:4%;
	}
	.container1{
		width:94%;
		margin:0px 3%;
		padding:0px;
	}
}
.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 25px 0;
	color: #7B7B7B;
	text-align: left;
	font-size: 1.3rem;
	font-weight: 500;
	text-shadow: 0.4px 0;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

/*.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}*/
/*
.i i{
	transition: .3s;
}
*/
.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: -16px;
	top: 50%;
	transform: translateY(-50%);
	color: #888;
	text-shadow: 0.2px 0px;
	font-size: 13px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #4ABDAC;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 10px;
}


.input-div > div > input{
	position: absolute;
	left: -4%;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: roboto;
	cursor: pointer;
}

.input-div.pass{
	margin-bottom: 4px;
}

.textor{
	color: #888;
	font-size: 12px;
	font-weight: 550;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #888;
	font-size: 0.75rem;
	transition: .3s;
	margin-top: 10px;
	font-weight: 550;

}

a:hover{
	color: #4ABDAC;
}

.btn{
	width: 40%;
	display: inline;
	height: 50px;
	border-radius: 5px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #4ABDAC, #32be8f);
	background-size: 200%;
	font-size: 1rem;
	color: #fff;
	font-family: roboto, calibri, arial, Poppins;
	margin: 2em 0;
	cursor: pointer;
	transition: .5s;
	box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}
.btn:hover{
	background-position: right;
	color: #fff;
}

.btn1{
	width: 40%;
	display: inline;
	height: 50px;
	border-radius: 5px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #fefefe, #ffffff, #fafafa);
	background-size: 200%;
	font-size: 1rem;
	color: #888;
	font-family: roboto, calibri, arial, Poppins;
	margin: 2rem 2rem 2rem -2em;
	cursor: pointer;
	transition: .5s;
	box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}
.btn1:hover{
	background-position: right;
	color: #555;
}

.btng{
	width:46%;
	height: 40px;
	margin: 0.4rem 3rem 2rem -2rem;
	background-image: linear-gradient(to right, #f8f8f8,#F9FFFE,#F9FFFE);
	font-family: sans-serif;
	background-size: 100%;
	font-size: 1.05rem;
	letter-spacing: 0.5px;
	text-shadow: 0.2px 0;
}

.btnf{
	width:46%;
	height: 40px;
	margin: 0.4rem -1rem 2rem -2rem;
	background-image: linear-gradient(to right, #f8f8f8,#F9FFFE,#F9FFFE);
	background-size: 100%;
	font-size: 1.05rem;
	letter-spacing: 0.5px;
	text-shadow: 0.2px 0;
	color: #4267B2;
}
.btnf:hover{
	color: #4267B2; 
}	

.gfbutton{
	/*margin-left: 1.8rem;*/
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
 
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 800px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}
